@charset "utf-8";

.position-a{
  position:absolute;
}
.position-r{
  position:relative;
}
.position-s{
  position:static;
}
.position-f{
  position:fixed;
}

.float-l{
  float: left;
}
.float-r{
  float:right;
}




.z-index-light{
  z-index:100;
}