@charset "utf-8";

html,body{
  padding:0;
  margin:0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: Microsoft YaHei,Arial,Helvetica,sans-serif;
  font-size: 14px;
  color:#333;
}

@media only screen and (min-width: 640px){
  html{
    font-size: 64px!important;
  }
}


html{
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow: hidden;
}
*{
  box-sizing: border-box;
}

article,aside,footer,header,nav,section,figcaption,figure,main{
  display: block;
}

a, div, header, span {
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

img{border:none;}

b,strong {
  /*统一字体重量*/
  font-weight: bolder;
}

a{
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  &:active,&:hover{
    text-decoration: none;
    outline: none;
  }
}

[type="checkbox"],[type="radio"] {
  /*重置IE9-浏览器的box-sizing及padding    */
  box-sizing: border-box;
  padding: 0;
}