@charset "utf-8";

@import "variable";

@mixin width-percent($number:1){
  width: 1% * (100 / $number);
}

@mixin margin-h-center{
  margin-left:auto;
  margin-right:auto;
}
@mixin position-v-center{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
@mixin position-h-center{
  position: absolute;
  left:50%;
  transform: translateX(-50%);
}
@mixin position-center{
  @include position-h-center;
  @include position-v-center;
  transform: translate(-50%,-50%);
}


/*手机端宽度控制*/
@mixin phone-width{
  width: 100%;
  max-width: 640px;
  min-width: 320px;
}

/*文字省略*/
@mixin text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
/*文字控制列数显示*/
@mixin line-ellipsis($line:1){
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

/*通过伪类实现边线*/
@mixin pseudo-line($position:bottom){
  content:'';
  background-color:$line-light;
  position: absolute;
  z-index: map_get($z-index-values,line);
  pointer-events: none;
  @if($position == top){
    left:0;right:0;top:0;
    height: 1px;
  }
  @else if($position == right){
    right:0;top:0;bottom:0;
    width: 1px;
  }
  @else if($position == bottom){
    left:0;right:0;bottom:0;
    height: 1px;
  }
  @else if($position == left){
    left:0;top:0;bottom:0;
    width: 1px;
  }
}


/*箭头*/
@mixin arrow($position:right,$length:10px,$color:$grey){
  width:$length ;
  height:$length ;
  border-top: 1px solid $color;
  border-left: 1px solid $color;
  @if($position == top){
    transform: rotate(45deg);
  }
  @else if($position == right){
    transform: rotate(135deg);
  }
  @else if($position == bottom){
    transform: rotate(225deg);
  }
  @else if($position == left){
    transform: rotate(315deg);
  }
}

/*通过伪类实现箭头*/
@mixin pseudo-arrow($position:right,$length:10px,$color:$grey){
  content: '';
  @include arrow($position,$length,$color);
  position: absolute;
  top:50%;
  @if($position == top){
    transform: translate(0,-50%) rotate(45deg);
  }
  @else if($position == right){
    transform: translate(0,-50%) rotate(135deg);
  }
  @else if($position == bottom){
    transform: translate(0,-50%) rotate(225deg);
  }
  @else if($position == left){
    transform: translate(0,-50%) rotate(315deg);
  }
}




/* 盒布局，完全居中 */
@mixin flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*标准flex-box布局*/
@mixin flex-container{
  display: flex;
  flex-flow:row wrap;
  justify-content: space-between;
}

/* 清除浮动 */
@mixin clear-fix{
  content: '';
  display: table;
  clear: both;
}