@charset "utf-8";

$base-map: (
        position:(static, fixed, absolute, relative),
        float:(left, right),
        text-align:(left, right, center, justify),
        display:(block, inline, none, table, inline-block, inline-table)
);

$red: #de181b;
$grey: #666;
$bg-grey: #f3f5f7;
$line-light: #e6e6e6;
$line-grey: #bfbfbe;

$z-index-values: (
        modal:1000 * 9,
        mask:1000 * 8,
        scroll:1000 * 7,
        normal:1000 * 6,
        line:1000 * 1
)