@charset "utf-8";

@import "global";
@import "base";
@import "variable";





.viewport-box{
  position: relative;
  margin:0 auto;
  min-width: 320px;
  max-width: 640px;
}

.bg-grey{
  background-color: $bg-grey;
  //background-color: $grey;
}
