@charset "utf-8";

@import "../../style/mixin";
@import "../../style/variable";
@import "../../style/function";

body{
  border-left:1px solid $line-light;
  border-right:1px solid $line-light;
  position: relative;
}

.word-search{
  padding:20px;
  &__input{
    width: px2Rem(200);
    outline: 0;
    height: 28px;
    border-radius: 14px;
    border:1px solid $line-grey;
    padding:0 20px;
  }
  &__button{
    cursor: pointer;
    padding:0 10px;
    border-radius: 10px;
    height: 28px;
    margin-left:10px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba($bg-blue,.8);
    outline: 0;
    color: white;
    &:hover{
      background-color: rgba($bg-blue,.8);
    }
    &:active{
      background-color: $bg-blue;
    }
  }
}

.word-list{
  &__item{
    @include flex-container;
    cursor: pointer;
    align-items: center;
    position: relative;
    padding:8px;
    min-height: 55px;
    & > audio{
      display: none;
    }
    &:first-child:before{
      @include pseudo-line(top);
    }
    &:after{
      @include pseudo-line(bottom);
    }
    &:nth-of-type(odd){
      background-color: rgba(216,216,216,0.1);
    }
  }
  &__content{
    display: inline-block;
    width: px2Rem(150);
  }
  &__word{
    font-size: px2Rem(16);
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__phonetic{

  }
  &__explains{
    //transition: filter .5s;
    display: inline-block;
    flex: 1;
  }

  &__button{
    cursor: pointer;
    position: absolute;
    top:20px;
    right: 10px;
    padding:0 10px;
    border-radius: 10px;
    height: 28px;
    line-height: 28px;
    margin-left:10px;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: rgba($bg-blue,.8);
    outline: 0;
    color: white;
    &:hover{
      background-color: rgba($bg-blue,.8);
    }
    &:active{
      background-color: $bg-blue;
    }
  }
}