@charset "utf-8";

@import "../../../style/function";
@import "../../../style/variable";

/*下载框*/
.download-banner{
  height: 50px;
  line-height: 50px;
  position:fixed;
  z-index: 9;
  width:100%;
  max-width:640px;
  top:0;left:0;right:0;bottom:0;
  margin:0 auto;
  background: #232323;
  color:white;
  overflow: hidden;
  .download-close{
    color: white;
    line-height: 50px;
    height: 50px;
    width: 16px;
    margin-left: 10px;
    display: inline-block;
    float: left;
    img{
      vertical-align: middle;
      width: 100%;
    }
  }
  .download-logo{
    margin:0 2.5% 0 5%;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width: 35px;
    float:left;
    img{
      width: 100%;
      vertical-align: middle;
    }
  }
  .download-text{
      float: left;
      display: inline-block;
      font-size: 12px;
      height: 50px;
      line-height: 1.4;
      padding-top:8px;
      .download-text-title{
          display: block;
          color: white;
      }
      .download-text-sub{
          display: block;
          color: #999;
      }
  }
  .download-action{
    width: 30%;
    background:$red ;
    float: right;
    text-align: center;
    line-height: 50px;
    height: 50px;
    a{
      color: white;
      vertical-align: middle;
      font-size: 15px;
    }
  }
}

/*搜索框*/
.header-banner{
  position:fixed;
  z-index: 9;
  top:50px;left:0;right:0;bottom:0;
  margin:0 auto;
  height: 40px;
  max-width:640px;
  width:100%;
  color:white;
  padding:5px 44px 5px 10px;
  opacity: 0.9;
  background-color: $red;
  .header-login{
    position: absolute;
    right: 0;
    top:0;
    width: 44px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    span{
      display: inline-block;
      line-height: 40px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  .header-search{
      background: white;
      border-radius: 15px;
      height: 100%;
      padding-right:15px;
      padding-left: 50px;
      position: relative;
      input{
        color: $grey;
        border: none;
        font-size: px2Rem(12);
        margin-top:5px;
        width: 100%;
      }
  }
}

/*轮播区域*/
.slider-container{
  font-size: 0;
  img{
    width: 100%;
  }
}

/*导航区域*/
.navigation-container{
  padding:10px 0;
  font-size: 12px;
  background-color: white;
  .nav-item{
    display: inline-block;
    width: 20%;
    text-align: center;
    img{
      margin-top:5px;
      width: 50px;
    }
    span{
      display: block;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
/*更多导航*/
.navigation-more{
  display: block;
  text-align: center;
  color: $grey;
  line-height: 30px;
  font-size: 12px;
  background-color: white;
  &:after{
    content: "";
    transform: rotate(-135deg);
    display: inline-block;
    width: 6px;
    height: 6px;
    border-top:1px solid $grey;
    border-left:1px solid $grey;
    margin-top: -6px;
    margin-left: 5px;
    vertical-align: middle;
  }
}

/*秒杀*/
.sec-kill-container{
  margin-top:5px;
  background-color: white;
  padding:0 10px;
  .sec-kill-header{
      height: 35px;
      font-size: 0;
      .sec-kill-icon{
        display: inline-block;
        background: url(//wq.360buyimg.com/fd/h5/wx/msite/images/sprite@2x_7d630b7f.png) -10px -47px/143.5px 104px no-repeat;
        width: 79px;
        line-height: 35px;
        height: 35px;
        position: absolute;
      }
      .sec-kill-title{
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin-left:90px;
        font-size: 14px;
      }
      .sec-kill-time{
        font-size: 14px;
        span{
          padding:0 1px;
          outline:1px solid #ddd;
          margin:0 5px;
        }
      }
      .sec-kill-link{
        color: $red;
        font-size: 12px;
        display: inline-block;
        float: right;
        right: 10px;
        height: 35px;
        line-height: 35px;
        .sec-kill-arrow{
          display: inline-block;
          height: 12px;
          width: 12px;
          background-color: $red;
          border-radius: 50%;
          vertical-align: -2px;
          &:after{
            content: "";
            display: block;//内联元素中放入块级元素？
            width: 4px;
            height: 4px;
            transform: rotate(135deg);
            border-top: 1px solid white;
            border-left: 1px solid white;
            margin-left: 2px;
            margin-top: 3px;
          }
        }
      }
  }
  .sec-kill-content{
    white-space: nowrap;
    overflow: scroll;
    font-size: 0;
    .sec-kill-item{
      font-size: 14px;
      display: inline-block;
      width: px2Rem(108);
      .sec-kill-item-box{
        padding:0 px2Rem(10);
        background-image: url('/image/jd/main/empty.png')
                          no-repeat 50%/50px;
        .sec-kill-img{
          padding-top:100%;
        }
      }
    }
  }
}

