@charset "utf-8";

.box{
  display: flex;
  flex-wrap:wrap;
  //justify-content: center;
  background: grey;
  .item{
    flex: 0 0 auto;
    width:200px;
    padding:20px;
    div{
      height: 150px;
      background: red;
      color:white;
      font-size:16px;
      font-weight: 800;
      padding-top:20px;
      text-align: center;
    }
  }
}
