@charset "utf-8";

@import "../../style/mixin";

.box{
  width:300px;
  height: 200px;
  display: inline-block;
  //position: relative;
  text-align: center;
  background: cornflowerblue;
  transform: scale(0.5);
}
.box1{
  width:300px;
  height: 200px;
  display: inline-block;
  //position: relative;
  text-align: center;
  background: #ed3d5b;
  //transform: skew(45deg);
}


.pie{
  border-radius: 50%;
  height: 300px;
  width: 300px;
  overflow: hidden;
  background-color:yellowgreen;
  background-image: linear-gradient(to right,transparent 50%,#655 0);
  &:before{
    content:'';
    display: block;
    margin-left: 50%;
    height: 100%;
    background-color: inherit;
    transform: rotate(45deg);
    transform-origin: left center;
  }
}

.parent{
  position: relative;
  height: 200px;
  width: 200px;
  border:1px solid black;
}
.child{
  width: 50px;
  height: 50px;
  background-color: red;
  @include position-center;
}

